:root {
  --primary-text-color: #303030;
  --text-color: #555555;
  --accent-color: #ff6c00;
  --white-text-color: #ffffff;
}

body {
  font-family: "open sans", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
}

/* Глобальный сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgba(45, 43, 43, 0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.section {
  /* outline: 1px solid yellow; */
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.navigation .list {
  display: flex;
  align-items: center;
}

.navigation .item:not(:last-child) {
  margin-right: 40px;
}

.navigation .link,
.header-group .link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation .link:hover,
.navigation .link:focus,
.header-group .link:hover,
.header-group .link:focus {
  color: var(--accent-color);
}

.header-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-group .link {
  margin-right: 40px;
}

.btn {
  display: block;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-text-color);
  padding: 12 20;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.about .btn,
.price .btn {
  color: var(--primary-text-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(45, 43, 43);
  position: relative;
  background-image: url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  height: 680px;
  /* padding-left: 100px; */
}

.hero-group {
  padding-top: 272px;
    padding-left: 100px;

  width: 476px;
}

.hero .list {
  display: flex;
  align-items: center;
}

.hero .link,
.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-wrap {
  display: flex;
}

.about .list {
  display: flex;
  margin-right: 64px;
}

.about .item:not(:last-child) {
  margin-right: 30px;
}

.dspl-block {
  display: block;
}

.about-group {
  width: 500px;
}

.about .text {
  margin-bottom: 40px;
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.dark {
  color: rgba(157, 164, 189, 0.6);
}

.light {
  color: var(--primary-text-color);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.slider-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
}

.slider-btn-disable {
  text-align: left;
  color: rgba(157, 164, 189, 0.6);
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about-group .title {
  color: var(--primary-text-color);
}

.price.section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(45, 43, 43);
  background-image: url(../images/price/price.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.price .title {
  color: var(--white-text-color);
}

.price-list {
  display: flex;
  margin-bottom: 50px;
}

.price .item {
  padding: 30px 40px;
  flex-basis: 50%;
}

.inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price.btn {
  color: var(--white-text-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-color);
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--text-color);
}

.left,
.right {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.uppertext {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

.plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.subtext {
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-text-color);
}

.features-container {
  display: flex;
}

.features .title {
  color: var(--primary-text-color);
}

.features .list {
  flex-basis: 50%;
}

.features-group {
  width: 500px;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
}

.features .item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  text-align: center;
}

.team.section {
  background-color: #F7F7F7;;
}

.team .title {
  color: var(--primary-text-color);
  margin-bottom: 44px;
}

.team .list {
  display: flex;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-photo {
  display: block;
  margin-bottom: 30px;
}

.team-name {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.team-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.example-photo {
  display: block;
}

.example .uppertitle {
  margin-bottom: 44px;
}

.example .list {
  display: flex;
}

.example .item:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts.section {
  background-color: rgb(45, 43, 43);
}

.contacts-group {
  display: flex;
}

.input {
  flex-basis: 50%;
}

.contacts .title {
  color: var(--white-text-color);
  margin-bottom: 40px;
}

.address,
.contacts .link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.address,
.item.phone {
  margin-bottom: 20px;
}

.item.mail {
  margin-bottom: 40px;
}

.contacts .mail {
  text-decoration: underline;
}

.contacts .uppertitle {
  color: var(--white-text-color);
}

.footer .list {
  display: flex;
  margin-left: auto;
}

.footer .container {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer .item:not(:last-child) {
  margin-right: 40px;
}

.footer .text {
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}

.footer .link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
