:root {
  --primary-text-color: #303030;
  --text-color: #555555;
  --accent-color: #ff6c00;
  --white-text-color: #ffffff;
}

body {
  font-family: "open sans", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
}

/* Глобальный сброс стилей */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(45, 43, 43);
}

.section {
  outline: 1px solid yellow;
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  outline: 1px solid red;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
}

.navigation .list {
  display: flex;
  align-items: center;
}

.navigation .item:not(:last-child) {
  margin-right: 40px;
}

.navigation .link,
.header-group .link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-text-color);
}

.header-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-group .link {
  margin-right: 40px;
}

.btn {
  display: block;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-text-color);
  padding: 12 20;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

.about .btn,
.price .btn {
  color: var(--primary-text-color);
}

.hero {
  background-color: rgb(45, 43, 43);
}

.hero-container {
  height: 680px;
  padding-top: 272px;
  padding-left: 100px;
}

.hero .list {
  display: flex;
  align-items: center;
}

.hero .link,
.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.about-wrap {
  display: flex;
}

.about .list {
  display: flex;
  margin-right: 64px;
}

.about .item:not(:last-child) {
  margin-right: 30px;
}

.dspl-block {
  display: block;
}

.about-group {
  width: 500px;
}

.about .text {
  margin-bottom: 40px;
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.dark {
  color: rgba(157, 164, 189, 0.6);
}

.light {
  color: var(--primary-text-color);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.hero-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about-group .title {
  color: var(--primary-text-color);
}

.price.section {
  background-color: rgb(45, 43, 43);
}

.price .title {
  color: var(--white-text-color);
}

.price-group {
  display: flex;
  margin-bottom: 50px;
}

.price .list {
  padding: 30px;
  width: 585px;
}

.price .item:not(:last-child) {
  margin-bottom: 20px;
}

.price.btn {
  color: var(--white-text-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--text-color);
  margin-bottom: 20px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--text-color);
}

.left,
.right {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.uppertext {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--primary-text-color);
}

.plus {
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
}

.subtext {
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-text-color);
}

.features-container {
  display: flex;
  
}

.features .title {
  color: var(--primary-text-color);
}

.features .list {
  mr
}

.team .title {
  color: var(--primary-text-color);
}

.team-name {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-text-color);
}

.team-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts .title {
  color: var(--white-text-color);
}

.address,
.contacts .link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
}

.contacts .mail {
  text-decoration: underline;
}

.contacts .uppertitle {
  color: var(--white-text-color);
}

.footer .text {
  font-size: 11px;
  line-height: 1.36;
  color: #9da4bd;
}
